body {
  color: white;
}

.fmatter {
  height: calc(100vh - 175px);
  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.fmatter__img {
  width: 100%;
}

.nav {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  background-color: #424242;
  border-bottom: 7px solid #1976d2;
  justify-content: space-between;
  =: 0 10px
  box-sizing: border-box;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  z-index: 1000;
}

.nav__links {
  display: flex;
  list-style: none;
  /* padding: 0; */
  /* height: 100%; */
  font-size: 19px;
}


.nav__link {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.2s;
}

.nav__linktxt {
    margin: auto;
}

.nav__link-active {
    background-color: #2c5e86;
}

body {
    font-family: avenir next;
    font-weight: 300;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.nav__title {
    font-weight: 400;
    margin: 0 30px;
}

.nav__left {
}

.nav__link:hover {
    background-color: #2C5E86 !important;
}

.nav__links:hover .nav__link-active {
    background-color: transparent;
}

.nav__link > a {
    color: inherit;
    text-decoration: none;
}

.nav__link:hover > a {
}


.stack-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.fmatter__imgc {
    background-image: url(img/fullscreen/lakehdr.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.fmatter__imgl {
    flex-direction: row;
    align-items: center;
}

.fmatter__txtl {
}

.fmatter__txtc h1 {
    font-size: 75px;
    font-weight: 100;
    margin: -9px;
}

.fmatter__txtc h2 {
    font-weight: 400;
    margin: 0;
}

.fmatter__txtc {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fmatter__button {
    background-color: #1976D2;
    border: 2px solid white;
    margin: 30px;
    font-size: 20px;
    padding: 6px 15px;
    font-weight: 100;
    border-radius: 10px;
}

.rfea__list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
    height: 100%;
    align-items: center;
    padding: 0;
    width: 100%;
}

.rfea {
    display: flex;
    background-color: #2C5E86;
    height: 200px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.21) 100%);
    background-size: 100% 19%;
    background-repeat: no-repeat;
    background-opacity: 20%;
}

.rfea h4 {
    font-size: 33px;
    margin: 35px 0;
    letter-spacing: 0.15em;
    font-weight: 400;
}

.imgtxt {
    display: flex;
    color: black;
    height: 350px;
    margin-bottom: 132px;
}

.imgtxt__half {
    width: 50%;
    display: flex;
}

.imgtxt__imgc {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

img.imgtxt__img {
    width: 100%;
}

.imgtxt__txtc {
    margin: auto;
    width: 75%;
}

.imgtxt__img-rotccw {
}

.imgtxt__img-rotcw {
}

.imgtxt__half-img {
    width: 65%;
}

.imgtxt__imgc-lr {
    display: flex;
    align-items: flex-end;
}

.imgtxt-upper .imgtxt__img {transform: rotate(-1deg) translate(-4px, 0px);}

.imgtxt-lower .imgtxt__img {transform: rotate(2deg) translate(9px, 0px);}

.imgtxt-lower .imgtxt__imgc {
    align-items: flex-end;
}

.imgtxt-upper {
}

.pscr {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    margin-bottom: 35px;
}

.pscr__imgc {
    height: 300px;
    position: relative;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.pscr__img {
    height: 100%;
    background-image: url(img/widepano/mtnpano-1.jpg);
    background-size: cover;
    width: 100%;
    /*animation-name: pano;*/
    /*animation-duration: 1000000000000s;*/
    /*animation-iteration-count: infinite;*/
    /*position: absolute;*/
    /*animation-timing-function: linear;*/
}

/*@keyframes pano {
  from {
    left: 0;
  }
  to {
    left: -24000000000000px;
  }
}*/


.pscr__title {
    font-weight: 100;
    font-size: 35px;
}

.imgtxt__txtc h3 {
    font-size: 35px;
    font-weight: 100;
}

.about {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
}

.about__row {
    display: flex;
    width: 100%;
}

.about__half {
    width: 50%;
    display: flex;
}

.about img {
    width: 83%;
    margin: auto;
}

.about__half-left {
    align-items: center;
}

.about__half-right {
    flex-direction: column;
}

.about__textc {
    margin: auto;
}

.about h1 {
    font-weight: 400;
}


p.pscr__txt {width: 50%;}

section.acts {
}

.acts {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

h2.acts__title {
    font-weight: 400;
    font-size: 35px;
    margin: 15px auto;
}

.acts__images {
    width: 100%;
    column-gap: 0;
    column-count: 3;
    -moz-column-gap: 0;
    -moz-column-count: 3;
}

img.acts__img {
    width: 100%;
}

.acts__titlec {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.44);
    display: flex;
    z-index: 1;
}

section.book {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: hsla(210,11%,74%,1); */
    margin-bottom: 4em;
}

.book h2 {
    font-weight: 400;
    font-size: 2.5em;
}

.book__contact {
    display: flex;
}

ul.book__phones {
    list-style: none;
    border-right: 1px solid black;
    padding-right: 25px;
}

ul.book__links {
    list-style: none;
    padding-left: 25px;
}

.acts__imgc {
    position: relative;
}

.acts__captc {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(0,0,0,0.40);
    transition: all 0.2s linear;
    opacity: 0;
}

.acts__capt {
    margin: auto;
    font-size: 1.8em;
}

.acts__captc:hover {
    opacity: 1;
}

section.plainp {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.plainp h1 {
    font-weight: 100;
}

section.plainp p {
    width: 800px;
    max-width: 100%;
}

.map {
    height: 400px;
    position: relative;
}

.book h3 a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.4em;
    color: blue;
    transition: text-decoration 0.5s;
}

.book h3 a:hover {
    text-decoration: underline;
}

nav.footer {
    background-color: rgba(66,66,66,0.8);
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50px;
    overflow: hidden;
}

nav.footer ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav.footer ul li {
    margin-right: 15px;
    cursor: pointer;
}

div#map {
    height: 100%;
    width: 100%;
}

.leaflet-bottom {
    margin-bottom: 50px;
}
